.nut-theme-dark {
  .nut-grid-item {
    &__content {
      background: $dark-background;
      color: $dark-color;
    }
    &__text {
      color: $dark-color;
    }
  }
}
.nut-grid-item {
  position: relative;

  $block: &;
  &__text {
    color: $grid-item-text-color;
    font-size: $grid-item-text-font-size;
    line-height: $grid-item-text-font-size * 1.5;
    margin: $grid-item-text-margin 0 0 0;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $grid-item-content-padding;
    background: $grid-item-content-bg-color;
    border: 0 solid $grid-border-color;

    &--border {
      border-right-width: 1px;
      border-bottom-width: 1px;
    }

    &--surround {
      border-top-width: 1px;
      border-left-width: 1px;
    }

    &--center {
      align-items: center;
      justify-content: center;
    }

    &--square {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    &--reverse {
      flex-direction: column-reverse;

      &__text {
        margin: 0 0 $grid-item-text-margin;
      }
    }

    &--horizontal {
      flex-direction: row;

      &__text {
        margin: 0 0 0 $grid-item-text-margin;
      }
    }

    &--horizontal#{&}--reverse {
      flex-direction: row-reverse;
      &__text {
        margin: 0 $grid-item-text-margin 0 0;
      }
    }
  }
}
