.flex-content {
  line-height: $row-content-line-height;
  color: $row-content-color;
  text-align: center;
  border-radius: $row-content-border-radius;
  background: $row-content-background-color;
  &-light {
    background: $row-content-light-background-color;
  }
  &-height {
    height: $row-content-height;
  }
}
.nut-row {
  width: 100%;
  overflow: hidden;
  flex-direction: row;

  &-flex {
    display: flex;
  }
  &-justify-center {
    justify-content: center;
  }
  &-justify-end {
    justify-content: flex-end;
  }
  &-justify-space-between {
    justify-content: space-between;
    align-items: center;
  }
  &-justify-space-around {
    justify-content: space-around;
  }
  &-align-flex-start {
    align-items: flex-start;
  }
  &-align-center {
    align-items: center;
  }
  &-align-flex-end {
    align-items: flex-end;
  }
  &-flex-wrap {
    flex-wrap: wrap;
  }
  &-flex-nowrap {
    flex-wrap: nowrap;
  }
  &-flex-reverse {
    flex-wrap: wrap-reverse;
  }
}
