.nut-navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: $navbar-height;
  padding: $navbar-padding;
  background: $navbar-background;
  box-shadow: $navbar-box-shadow;
  font-size: $navbar-title-base-font;
  color: $navbar-color;
  margin-bottom: $navbar-margin-bottom;
  overflow: hidden;
  &--border {
    border-bottom-width: 1px solid #eee;
  }
  &--fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &--placeholder {
    width: 100%;
  }
  &--safe-area-inset-top {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  &__title {
    min-width: 53%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &-desc {
      font-size: $cell-title-desc-font;
    }
  }

  &__left {
    font-size: $cell-desc-font;
    flex-direction: row;
    color: $cell-desc-color;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  &__right {
    font-size: $cell-desc-font;
    color: $cell-desc-color;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  &__text {
    font-size: $cell-desc-font;
    color: $cell-desc-color;
  }
}
.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $navbar-title-width;
  font-size: $navbar-title-font;
  color: $navbar-title-font-color;
  overflow: hidden;
}
.icon {
  margin: $navbar-title-icon-margin;
}
.nut-icon {
  display: inline;
}
.nut-icon-left {
  text-align: left;
}

.text__title {
  font-size: $navbar-title-font;
  display: inline-block;
}

.nut-tabs__titles {
  background: $white;
}

.nut-tabpane {
  display: none;
}

.rightIcon {
  margin-left: 16px;
}
.leftIcon {
  margin-left: 16px;
}
