.popup-slide {
  &-center-enter,
  &-center-exit {
    opacity: 0;
  }
  &-center-enter-active {
    opacity: 1;
  }
}

.popup-center {
  position: absolute;
  top: 50%;
  left: 50%;
  &__round {
    border-radius: $popup-border-radius;
  }
}

.popup-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  &__round {
    border-radius: $popup-border-radius $popup-border-radius 0 0;
  }
}

.popup-right {
  top: 0;
  right: 0;

  &__round {
    border-radius: $popup-border-radius 0 0 $popup-border-radius;
  }
}

.popup-left {
  top: 0;
  left: 0;

  &__round {
    border-radius: 0 $popup-border-radius $popup-border-radius 0;
  }
}

.popup-top {
  top: 0;
  left: 0;
  width: 100%;

  &__round {
    border-radius: 0 0 $popup-border-radius $popup-border-radius;
  }
}

.nut-popup {
  position: absolute;
  max-height: 100%;
  background-color: $white;
}

.nut-overflow-hidden {
  overflow: hidden;
}

.nutui-popup {
  &__close-icon {
    position: absolute;
    z-index: 1;
    color: #969799;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    &--top-left {
      top: $popup-close-icon-margin;
      left: $popup-close-icon-margin;
    }

    &--top-right {
      top: $popup-close-icon-margin;
      right: $popup-close-icon-margin;
    }

    &--bottom-left {
      bottom: $popup-close-icon-margin;
      left: $popup-close-icon-margin;
    }

    &--bottom-right {
      right: $popup-close-icon-margin;
      bottom: $popup-close-icon-margin;
    }
  }
}
