.nut-overlay {
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: $overlay-bg-color;
}
.nut-overlay-warp {
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.nut-overflow-hidden {
  overflow: hidden;
}
.first-render {
  display: none;
}
.hidden-render {
  display: none;
}
