.nut-icon {
  position: relative;
  width: $icon-width;
  height: $icon-height;
  line-height: $icon-line-height;
  text-align: right;

  &__img {
    width: $icon-width;
    height: $icon-height;
  }
}
