// color

// 主色调
$primary-color: #fa2c19;
$primary-color-end: #fa6419;
// 辅助色
$help-color: #f5f5f5;
// 标题常规文字
$title-color: #1a1a1a;
// 副标题
$title-color2: #666666;
// 次内容
$text-color: #808080;
// 特殊禁用色
$disable-color: #cccccc;
$white: #fff;
$black: #000;
$required-color: #fa2c19;

$dark-background: #1a1919;
$dark-background2: #1d1b1c;
$dark-background3: #141414;
$dark-color: $white;
$dark-color-gray: $text-color;

// padding
$padding-xs: 12px;

$font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun,
  sans-serif;

// Animation
$animation-duration: 0.25s;
$animation-timing-fun: cubic-bezier(0.55, 0.085, 0.68, 0.53);

// Font
$font-size-0: 10px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-weight-bold: 400;

$font-size-small: $font-size-1;
$font-size-base: $font-size-2;
$font-size-large: $font-size-3;
$line-height-base: 1.5;

// button
$button-border-radius: 25px;
$button-border-width: 1px;
$button-default-bg-color: $white;
$button-default-border-color: rgba(204, 204, 204, 1);
$button-default-color: rgba(102, 102, 102, 1);
$button-small-height: 28px;
$button-default-height: 38px;
$button-large-height: 48px;
$button-large-line-height: 46px;
$button-small-line-height: 26px;
$button-block-height: 48px;
$button-default-line-height: 36px;
$button-block-line-height: 46px;
$button-default-font-size: $font-size-2;
$button-disabled-opacity: 0.68;
$button-primary-color: $white;
$button-primary-border-color: $primary-color;

// RN暂时禁用渐变属性
// $button-primary-background-color: linear-gradient(
//   135deg,
//   $primary-color 0%,
//   $primary-color-end 100%
// );
$button-primary-background-color: $primary-color;
$button-info-color: $white;
$button-info-border-color: #496af2;

// RN暂时禁用渐变属性
// $button-info-background-color: linear-gradient(
//   315deg,
//   rgba(73, 143, 242, 1) 0%,
//   rgba(73, 101, 242, 1) 100%
// );
$button-info-background-color: rgba(73, 143, 242, 1);
$button-success-color: $white;
$button-success-border-color: rgba(38, 191, 38, 1);
// RN暂时禁用渐变属性
// $button-success-background-color: linear-gradient(
//   135deg,
//   rgba(38, 191, 38, 1) 0%,
//   rgba(39, 197, 48, 1) 45%,
//   rgba(40, 207, 63, 1) 83%,
//   rgba(41, 212, 70, 1) 100%
// );
$button-success-background-color: rgba(38, 191, 38, 1);
$button-danger-color: $white;
$button-danger-border-color: rgb(250, 40, 25, 1);
$button-danger-background-color: rgba(250, 40, 25, 1);
$button-warning-color: $white;
$button-warning-border-color: rgba(255, 158, 13, 1);
// RN暂时禁用渐变属性
// $button-warning-background-color: linear-gradient(
//   135deg,
//   rgba(255, 158, 13, 1) 0%,
//   rgba(255, 167, 13, 1) 45%,
//   rgba(255, 182, 13, 1) 83%,
//   rgba(255, 190, 13, 1) 100%
// );
$button-warning-background-color: rgba(255, 158, 13, 1);
$button-plain-background-color: #fff;
$button-plain-background-color: $white;

// cell
$cell-color: $title-color2;
$cell-title-font: $font-size-2;
$cell-title-desc-font: $font-size-1;
$cell-desc-font: $font-size-2;
$cell-desc-color: $disable-color;
$cell-border-radius: 6px;
$cell-padding: 13px 16px;
$cell-line-height: 20px;
$cell-after-right: 16px;
$cell-after-border-bottom: 2px solid #f5f6f7;
$cell-default-icon-margin: 0 4px 0 0px;
$cell-large-title-font: $font-size-large;
$cell-large-title-desc-font: $font-size-base;
$cell-large-padding: 15px 16px;
$cell-background: $white;

// cell-group
$cell-group-title-padding: 0 10px;
$cell-group-title-color: #909ca4;
$cell-group-title-font-size: $font-size-2;
$cell-group-title-line-height: 20px;
$cell-group-desc-padding: 0 10px;
$cell-group-desc-color: #909ca4;
$cell-group-desc-font-size: $font-size-1;
$cell-group-desc-line-height: 16px;
$cell-group-background-color: $white;

// icon
$icon-height: 20px;
$icon-width: 20px;
$icon-line-height: 20px;

// uploader
$uploader-picture-width: 100px;
$uploader-picture-height: 100px;
$uploader-background: #f7f8fa;

// input
$input-border-bottom: #eaf0fb;
$input-disabled-color: #c8c9cc;
$input-required-color: $required-color;
$input-font-size: $font-size-2;
$input-padding: 10px 25px;

// textarea
$textarea-font: $font-size-2;
$textarea-height: 100px;
$textarea-limit-color: $text-color;
$textarea-text-color: $title-color;
$textarea-disabled-color: $disable-color;

// inputnumber
$inputnumber-icon-color: $title-color;
$inputnumber-icon-void-color: $disable-color;
$inputnumber-input-background-color: $help-color;
$inputnumber-input-border-radius: 4px;
$inputnumber-input-width: 40px;
$inputnumber-icon-size: 20px;

// actionsheet
$zindex-actionsheet: 10001;
$body-background: #f6f6f6;
$light-color: #f6f6f6;
$font-size-base: $font-size-2;
$font-size-small: $font-size-1;

// shortpassword
$shortpsd-background-color: rgba(245, 245, 245, 1);
$shortpsd-border-color: #ddd;
$shortpsd-error: rgba(242, 39, 12, 1);
$shortpsd-forget: rgba(128, 128, 128, 1);

// price
$price-big-size: 24px;

// avatar
$avatar-square: 5px;
$avatar-large-width: 60px;
$avatar-large-height: 60px;
$avatar-small-width: 32px;
$avatar-small-height: 32px;
$avatar-normal-width: 40px;
$avatar-normal-height: 40px;

//switch
$switch-close-bg-color: #ebebeb;
$switch-close--cline-bg-color: #f0f0f0;

// toast
$toast-title-font-size: 16px;
$toast-text-font-size: 14px;
$toast-font-color: $white;
$toast-inner-padding: 24px 30px;
$toast-inner-bg-color: rgba(0, 0, 0, 0.8);
$toast-inner-border-radius: 12px;
$toast-cover-bg-color: rgba(0, 0, 0, 0);

// backtop
$backtop-border-color: #e0e0e0;

// calendar
$calendar-primary-color: $primary-color;
$calendar-choose-color: rgba($primary-color, 0.09);
$calendar-choose-font-color: $primary-color;
$calendar-base-color: #333333;
$calendar-disable-color: #d1d0d0;
$calendar-base-font: $font-size-3;
$calendar-title-font: $font-size-4;
$calendar-title-font-weight: 500;
$calendar-sub-title-font: $font-size-2;
$calendar-text-font: $font-size-1;
$calendar-day-font: 16px;
$calendar-day-active-border-radius: 0px;
$calendar-day-width: 14.28%;
$calendar-day-height: 64px;
$calendar-day-font-weight: 500;
$calendar-day67-font-color: $primary-color;
$calendar-top-slot-height: 24px;

// overlay
$overlay-bg-color: rgba(0, 0, 0, 0.7);

// popup
$popup-close-icon-margin: 16px;
$popup-border-radius: 20px;

// Notify
$notify-text-color: $white;
$notify-padding: 12px 0;
$notify-font-size: 14px;
$notify-height: 44px;

// NoticeBar
$noticebar-background: rgba(251, 248, 220, 1);
$noticebar-color: #d9500b;
$noticebar-font-size: 14px;
$noticebar-height: 40px;
$noticebar-line-height: 24px;
$noticebar-left-icon-width: 16px;
$noticebar-right-icon-width: 16px;
$noticebar-box-padding: 0 16px;
$noticebar-wrapable-padding: 16px;
$noticebar-lefticon-margin: 0px 10px;
$noticebar-righticon-margin: 0px 10px;

// notify
$notify-base-background-color: linear-gradient(
  135deg,
  rgba(250, 44, 25, 1) 0%,
  rgba(250, 63, 25, 1) 45%,
  rgba(250, 89, 25, 1) 83%,
  rgba(250, 100, 25, 1) 100%
);
$notify-primary-background-color: linear-gradient(
  315deg,
  rgba(73, 143, 242, 1) 0%,
  rgba(73, 101, 242, 1) 100%
);
$notify-success-background-color: linear-gradient(
  135deg,
  rgba(38, 191, 38, 1) 0%,
  rgba(39, 197, 48, 1) 45%,
  rgba(40, 207, 63, 1) 83%,
  rgba(41, 212, 70, 1) 100%
);
$notify-danger-background-color: rgba(250, 50, 25, 1);
$notify-warning-background-color: linear-gradient(
  135deg,
  rgba(255, 93, 13, 1) 0%,
  rgba(255, 154, 13, 1) 100%
);

// rate
$rate-icon-color: $primary-color;
$rate-icon-void-color: $disable-color;

// tabbar
$tabbar-active-color: $primary-color;
$tabbar-unactive-color: $primary-color;
$tabbar-border-top: 1px solid #eee;
$tabbar-border-bottom: 1px solid #eee;
$tabbar-box-shadow: none;
$tabbar-item-text-font-size: $font-size-0;
$tabbar-item-text-line-height: initial;

// infiniteloading
$infinite-bottom-color: #c8c8c8;

// range
$range-tip-font-color: #333333;
$range-bg-color: rgba($primary-color, 0.5);
$range-bg-color-tick: #fa958c;
$range-bar-bg-color: linear-gradient(
  135deg,
  $primary-color 0%,
  $primary-color-end 100%
);
$range-bar-btn-bg-color: $white;
$range-bar-btn-width: 24px;
$range-bar-btn-height: 24px;
$range-bar-btn-border: 1px solid $primary-color;

// address
$address-region-tab-line: linear-gradient(
  90deg,
  $primary-color 0%,
  $primary-color-end 100%
);

// steps
$steps-base-icon-width: 25px;
$steps-base-icon-height: 25px;
$steps-base-icon-line-height: 25px;
$steps-base-icon-font-size: 13px;
$steps-base-title-font-size: 14px;
$steps-base-line-color: #909ca4;
$steps-base-title-color: #909ca4;
$steps-base-title-margin-bottom: 10px;
$steps-base-content-font-size: 14px;
$steps-base-content-color: #666;

$steps-wait-icon-bg-color: #959fb1;
$steps-wait-icon-color: $white;
$steps-wait-head-color: #909ca4;
$steps-wait-head-border-color: #909ca4;
$steps-wait-content-color: #909ca4;

$steps-finish-head-color: $primary-color;
$steps-finish-head-border-color: $primary-color;
$steps-finish-title-color: $primary-color;
$steps-finish-line-background: $primary-color;
$steps-finish-icon-text-color: $white;

$steps-process-head-color: $white;
$steps-process-head-border-color: $primary-color;
$steps-process-title-color: $primary-color;
$steps-process-icon-text-color: $primary-color;

// dialog
$dialog-width: 296px;

// checkbox
$checkbox-label-color: #1d1e1e;
$checkbox-label-disable-color: #999;
$checkbox-icon-disable-color: #d6d6d6;
$checkbox-label-margin-left: 15px;
$checkbox-label-font-size: 14px;
$checkbox-icon-font-size: 18px;

// radio
$radio-label-font-color: #1d1e1e;
$radio-label-font-active-color: #f0250f;
$radio-label-disable-color: #999;
$radio-icon-disable-color: #d6d6d6;

$radio-label-button-border-color: #f0250f;
$radio-label-button-background: rgba(240, 37, 15, 0.05);

// signature
$signature-border-color: #dadada;
$signature-border-width: 1px;
$signature-height: 10rem;
$signature-margin-bottom: 1rem;
$signature-btn-margin-right: 15px;

// fixednav
$fixednav-bg-color: $white;
$fixednav-font-color: $black;
$fixednav-index: 201;
$fixednav-btn-bg: linear-gradient(
  135deg,
  rgba(250, 25, 44, 1) 0%,
  rgba(250, 63, 25, 1) 100%
);

// Tag
$tag-font-size: 12px;
$tag-default-background-color: #000000;
$tag-primary-background-color: #3460fa;
$tag-success-background-color: #4fc08d;
$tag-danger-background-color: linear-gradient(
  135deg,
  rgba(242, 20, 12, 1) 0%,
  rgba(232, 34, 14, 1) 69.83950099728881%,
  rgba(242, 77, 12, 1) 100%
);
$tag-warning-background-color: #f3812e;
$tag-default-color: #ffffff;
$tag-border-width: 1px;

$tag-plain-background-color: #fff;
$tag-plain-color: rgb(250, 36, 0);

// badge
$badge-background-color: linear-gradient(
  135deg,
  $primary-color 0%,
  $primary-color-end 100%
);
$badge-font-size: $font-size-1;
$badge-default-background-color: rgba(255, 255, 255, 1);

// popover
$popover-white-background-color: rgba(255, 255, 255, 1);
$popover-dark-background-color: rgba(75, 76, 77, 1);
$popover-border-bottom-color: rgba(229, 229, 229, 1);
$popover-primary-text-color: rgba(51, 51, 51, 1);
$popover-disable-color: rgba(154, 155, 157, 1);

// pagination
$pagination-color: $primary-color;
$pagination-font-size: $font-size-2;
$pagination-item-border-color: #e4e7eb;
$pagination-active-background-color: linear-gradient(
  135deg,
  rgba(250, 44, 25, 1) 0%,
  rgba(250, 63, 25, 1) 44.59259259%,
  rgba(250, 89, 25, 1) 83.40740741%,
  rgba(250, 100, 25, 1) 100%
);
$pagination-disable-color: rgba(116, 116, 116, 0.31);
$pagination-disable-background-color: #f7f8fa;
$pagination-item-border-width: 1px;
$pagination-item-border-radius: 2px;
$pagination-prev-next-padding: 0 11px;

// dialog
$dialog-min-height: 156px;
$dialog-padding: 28px 24px 16px 24px;
$dialog-header-height: 20px;
$dialog-header-color: rgba(38, 38, 38, 1);
$dialog-content-margin: 20px 0;
$dialog-content-max-height: 268px;
$dialog-content-line-height: 16px;
$dialog-mask-z-index: 1050;
$dialog-mask-background-color: rgba($black, 0.7);
$dialog-outer-z-index: 2000;
$dialog-outer-bordder-radius: 20px;
$dialog-vertical-footer-ok-margin-top: 10px;
$dialog-footer-button-min-width: 100px;
$dialog-footer-cancel-margin-right: 20px;
$dialog-footer-ok-max-width: 128px;
// 在组件中import
//@import './mixins/index';
//@import './animation/index';

// tabs
$tabs-tab-smile-color: $primary-color;
$tabs-titles-border-radius: 0;
$tabs-titles-item-large-font-size: $font-size-3;
$tabs-titles-item-font-size: $font-size-2;
$tabs-titles-item-small-font-size: $font-size-1;
$tabs-titles-item-color: $title-color;
$tabs-titles-background-color: $help-color;
$tabs-horizontal-tab-line-color: linear-gradient(
  90deg,
  $primary-color 0%,
  rgba($primary-color, 0.15) 100%
);
$tabs-horizontal-titles-height: 46px;
$tabs-horizontal-titles-item-min-width: 50px;
$tabs-horizontal-titles-item-active-line-width: 40px;
$tabs-vertical-tab-line-color: linear-gradient(
  180deg,
  $primary-color 0%,
  rgba($primary-color, 0.15) 100%
);
$tabs-vertical-titles-item-height: 40px;
$tabs-vertical-titles-item-active-line-height: 14px;
$tabs-vertical-titles-width: 100px;

// empty
$empty-padding: 32px 0;
$empty-image-size: 170px;
$empty-description-margin-top: 4px;
$empty-description-color: #666666;
$empty-description-font-size: 14px;
$empty-description-line-height: 20px;
$empty-description-padding: 0 40px;

// indicator
$indicator-color: $primary-color;
$indicator-dot-color: $disable-color;
$indicator-white: $white;
$indicator-size: 18px;
$indicator-dot-size: calc(#{$indicator-size} / 3);
$indicator-border-size: $indicator-size + 2;
$indicator-number-font-size: 10px;
$indicator-dot-margin: 4px;
$indicator-dot-vertical-margin: 4px;
$indicator-dot-first-margin: 0px;
$indicator-dot-last-margin: 0px;

// circleProgress
$circleprogress-primary-color: $primary-color;
$circleprogress-path-color: #e5e9f2;
$circleprogress-text-color: #000000;
$circleprogress-text-size: $font-size-3;

// divider
$divider-margin: 16px 0;
$divider-text-font-size: $font-size-2;
$divider-text-color: #909ca4;
$divider-line-height: 2px;
$divider-before-margin-right: 16px;
$divider-after-margin-left: 16px;
$divider-vertical-height: 12px;
$divider-vertical-top: 2px;
$divider-vertical-border-left: rgba(0, 0, 0, 0.06);
$divider-vertical-margin: 0 8px;

// swiper
$swiper-pagination-item-background-color: #ddd;

// Table
$table-border-color: #ececec;
$table-cols-padding: 10px;
$table-tr-even-bg-color: #f3f3f3;
$table-tr-odd-bg-color: $white;

// numberkeyboard
$numberkeyboard-width: 100%;
$numberkeyboard-padding: 0 0 22px 0;
$numberkeyboard-background-color: #f2f3f5;
$numberkeyboard-header-height: 34px;
$numberkeyboard-header-padding: 6px 0 0 0;
$numberkeyboard-header-color: #646566;
$numberkeyboard-header-font-size: 16px;
$numberkeyboard-header-close-padding: 0 16px;
$numberkeyboard-header-close-color: #576b95;
$numberkeyboard-header-close-font-size: 14px;
$numberkeyboard-header-close-background-color: transparent;
$numberkeyboard-key-background-color: #fff;
$numberkeyboard-key-active-background-color: #ebedf0;
$numberkeyboard-key-height: 48px;
$numberkeyboard-key-line-height: 1.5;
$numberkeyboard-key-border-radius: 8px;
$numberkeyboard-key-font-size: 28px;
$numberkeyboard-key-font-size-color: #333;
$numberkeyboard-key-finish-font-size: 16px;
$numberkeyboard-key-finish-font-size-color: #fff;
$numberkeyboard-key-finish-background-color: #1989fa;
$numberkeyboard-key-activeFinsh-background-color: #0570db;

// elevator
$elevator-list-item-highcolor: $primary-color;
$elevator-list-item-font-size: 12px;
$elevator-list-item-font-color: #333333;
$elevator-list-item-name-padding: 0 20px;
$elevator-list-item-name-height: 30px;
$elevator-list-item-name-line-height: 30px;
$elevator-list-item-code-font-size: 14px;
$elevator-list-item-code-font-color: #1a1a1a;
$elevator-list-item-code-font-weight: 500;
$elevator-list-item-code-padding: 0 20px;
$elevator-list-item-code-height: 35px;
$elevator-list-item-code-line-height: 35px;
$elevator-list-item-code-after-width: 100%;
$elevator-list-item-code-after-height: 1px;
$elevator-list-item-code-after-bg-color: #f5f5f5;
$elevator-list-item-code-current-box-shadow: 0 3px 3px 1px
  rgba(240, 240, 240, 1);
$elevator-list-item-code-current-bg-color: #fff;
$elevator-list-item-code-current-border-radius: 50%;
$elevator-list-item-code-current-width: 45px;
$elevator-list-item-code-current-height: 45px;
$elevator-list-item-code-current-line-height: 45px;
$elevator-list-item-code-current-position: absolute;
$elevator-list-item-code-current-right: 60px;
$elevator-list-item-code-current-top: 50%;
$elevator-list-item-code-current-transform: translateY(-50%);
$elevator-list-item-code-current-text-align: center;
$elevator-list-item-bars-position: absolute;
$elevator-list-item-bars-right: 8px;
$elevator-list-item-bars-top: 50%;
$elevator-list-item-bars-transform: translateY(-50%);
$elevator-list-item-bars-padding: 15px 0;
$elevator-list-item-bars-background-color: #eeeff2;
$elevator-list-item-bars-border-radius: 6px;
$elevator-list-item-bars-text-align: center;
$elevator-list-item-bars-z-index: 1;
$elevator-list-item-bars-inner-item-padding: 3px;
$elevator-list-item-bars-inner-item-font-size: 10px;
$elevator-list-fixed-color: $primary-color;
$elevator-list-fixed-bg-color: $white;
$elevator-list-fixed-box-shadow: 0 0 10px #eee;
$elevator-list-item-bars-inner-item-active-color: $primary-color;

// navbar
$navbar-height: 44px;
$navbar-margin-bottom: 20px;
$navbar-padding: 13px 16px;
$navbar-background: $white;
$navbar-box-shadow: 0px 1px 7px 0px rgba(237, 238, 241, 1);
$navbar-color: $title-color2;
$navbar-title-base-font: $font-size-2;
$navbar-title-font: $font-size-2;
$navbar-title-font-weight: 0;
$navbar-title-font-color: $navbar-color;
$navbar-title-width: 100px;
$navbar-title-icon-margin: 0 0 0 13px;

// layout
$row-content-color: #fff;
$row-content-background-color: #ff8881;
$row-content-light-background-color: #ffc7c4;
$row-content-border-radius: 6px;
$row-content-height: 50px;
$row-content-line-height: 40px;
$col-default-margin-bottom: 15px;

// searchbar
$searchbar-background: $white;
$searchbar-right-out-color: $black;
$searchbar-padding: 9px 16px;
$searchbar-width: 100%;
$searchbar-action-text-color: #323233;
$searchbar-input-background: #f7f7f7;
$searchbar-input-padding: 0 28px;
$searchbar-input-height: 32px;
$searchbar-input-width: 100%;
$searchbar-input-border-radius: 16px;
$searchbar-input-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

// progress
$progress-border-radius: 12px;
$progress-text-padding: 0 5px;
$progress-text-font-size: 13px;
$progress-insidetext-border-radius: 5px;
$progress-small-height: 5px;
$progress-base-height: 10px;
$progress-large-height: 15px;
$progress-small-padding: 0 4px;
$progress-base-padding: 0 5px;
$progress-large-padding: 0 5px;
$progress-small-font-size: 7px;
$progress-base-font-size: 9px;
$progress-large-font-size: 13px;

// animatingnumbers
$countup-height: 32px;
$countup-base-size: 18px;
$countup-border-raduis: 4px;
$countup-lr-margin: 1px;
$countup-bgcolor: #031f63;
$countup-color: #ffffff;
$countup-width: 24px;

// menu
$menu-bar-line-height: 48px;
$menu-item-font-size: $font-size-2;
$menu-item-text-color: $title-color;
$menu-item-active-text-color: $primary-color;
$menu-bar-border-bottom-color: #eaf0fb;
$menu-bar-opened-z-index: 2001;
$menu-item-disabled-color: #969799;
$menu-title-text-padding-left: 8px;
$menu-title-text-padding-right: 8px;
$menu-item-content-padding: 12px 24px;
$menu-item-content-max-height: 214px;
$menu-item-option-padding-top: 12px;
$menu-item-option-padding-bottom: 12px;
$menu-item-option-i-margin-right: 6px;
$menu-bar-box-shadow: 0 2px 12px rgba(89, 89, 89, 0.12);
$menu-scroll-fixed-top: 0;
$menu-scroll-fixed-z-index: 1000;

// cascader
$cascader-font-size: 14px;
$cascader-line-height: 22px;
$cascader-tabs-item-padding: 0 10px;
$cascader-title-padding: 24px 20px 17px;
$cascader-title-font-size: 18px;
$cascader-title-line-height: 20px;
$cascader-item-padding: 10px 20px;
$cascader-item-font-size: 14px;
$cascader-item-color: #1a1a1a;
$cascader-item-active-color: #fa2c19;
$cascader-pane-height: 342px;
$cascader-pane-paddingTop: 10px;
$cascader-icon-checklist-marginLeft: 10px;

// Grid
$grid-border-color: #f5f6f7;
$grid-item-content-padding: 16px 8px;
$grid-item-content-bg-color: $white;
$grid-item-text-margin: 8px;
$grid-item-text-color: $title-color2;
$grid-item-text-font-size: $font-size-1;
