.nut-avatar {
  flex: 0 0 auto; // 防止被压缩
  text-align: center;
  align-items: center;
  justify-content: center;
}
.nut-icon__img {
  width: 100%;
  height: 100%;
}
.text {
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.nut-avatar-large {
  width: $avatar-large-width;
  height: $avatar-large-height;
  line-height: $avatar-large-height;
}
.nut-avatar-small {
  width: $avatar-small-width;
  height: $avatar-small-height;
  line-height: $avatar-small-height;
}
.nut-avatar-normal {
  width: $avatar-normal-width;
  height: $avatar-normal-height;
  line-height: $avatar-normal-height;
}
.nut-avatar-round {
  border-radius: 50px;
  overflow: hidden;
}
.nut-avatar-square {
  border-radius: $avatar-square;
}
.nut-avatar-group-item {
  flex: 0 0 auto; // 防止被压缩
  border: 1px solid #fff;
  margin-left: -8px;
}
