.nut-divider {
  display: flex;
  align-items: center;
  margin: $divider-margin;
  width: 100%;
  border: $divider-line-height solid $divider-text-color;
  border-width: $divider-line-height 0 0;
  height: $divider-line-height;
  flex: 1;

  &__center,
  &__left,
  &__right {
    font-size: $divider-text-font-size;
    color: $divider-text-color;
    height: $divider-text-font-size * 3;
    transform: scaleY(2);
    background-color: #fff;
    padding-right: $divider-before-margin-right;
    padding-left: $divider-after-margin-left;
  }

  &__left {
    margin-left: -60%;
  }

  &__right {
    margin-left: 60%;
  }

  &__dashed {
    border-style: dashed;
  }

  &__hairline {
    transform: scaleY(0.5);
  }
  &__vertical {
    position: relative;
    top: $divider-vertical-top;
    height: $divider-vertical-height;
    border: 0px solid $divider-vertical-border-left;
    border-left-width: 1px;
    margin: $divider-vertical-margin;
    width: auto;
  }
}
