@import '../icon/icon';

.nut-cell {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: $cell-line-height;
  padding: $cell-padding;
  background: $cell-background;
  border-radius: $cell-border-radius;
  box-shadow: 0px 1px 7px 0px rgba(237, 238, 241, 1);
  font-size: $cell-title-font;
  color: $cell-color;
  margin: 10px 0px 0px 0px;

  &--center {
    align-items: center;
  }

  &--large {
    padding: $cell-large-padding;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    margin-right: $cell-default-icon-margin;
  }

  &__title {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: flex-start;
  }

  &__maintitle {
    font-size: $cell-title-font;
  }

  &__subtitle {
    font-size: $cell-title-desc-font;
  }

  &__value {
    align-self: flex-start;
    text-align: right;
    width: auto;
    font-size: $cell-desc-font;
    color: $cell-desc-color;
    &--alone {
      color: $cell-color;
    }
  }

  &__maintitle--large {
    font-size: $cell-large-title-font;
  }

  &__subtitle--large {
    font-size: $cell-large-title-desc-font;
  }

  &__value--large {
    font-size: $cell-large-title-desc-font;
  }

  &__link {
    color: #979797;
  }

  &--cellGroup {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: $cell-after-border-bottom;
  }

  &--isLast {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 0;
  }
}
