.nut-col {
  margin-bottom: $col-default-margin-bottom;
  &-gutter {
    padding-right: 0;
    padding-left: 0;
  }
}

@for $i from 1 through 24 {
  .nut-col-offset-#{$i} {
    margin-left: (100 / 24) * $i * 1%;
  }

  .nut-col-#{$i} {
    width: (100 / 24) * $i * 1%;
  }
}
